<mat-card>
  <form>
    <mat-form-field  appearance="fill">
      <mat-label>Decoded message</mat-label>
      <textarea matInput
                [(ngModel)]="encodedWord"
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                name="decodeMessage"
                placeholder="Enter your message">{{'dwadwa'}}</textarea>
    </mat-form-field>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" name="inputPassword" [(ngModel)]="inputPassword" required value="">
      </mat-form-field>
      <button type="submit" [disabled]="!(encodedWord && inputPassword)" mat-icon-button color="warn" (click)="onCipher('decode', $event)">
        <mat-icon>expand_more</mat-icon>
      </button>
      <button type="submit" [disabled]="!(decodedWord && inputPassword)" mat-icon-button color="warn" (click)="onCipher('encode', $event)">
        <mat-icon>expand_less</mat-icon>
      </button>
    </div>
    <mat-form-field  appearance="fill">
      <mat-label>Encoded message</mat-label>
      <textarea matInput placeholder="Enter your message"
                [(ngModel)]="decodedWord"
                name="encodeMessage"
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"></textarea>
    </mat-form-field>
  </form>
</mat-card>
